<div class="col-sm-12 row">
  <div class="col-dm-4 text-center">
    <label for="tacos1" class="letrablack">Producto tipo 1:</label>
    <input type="number" class="form-control" placeholder="Coloca la cantidad" #tacos1>
  </div>
  <div class="col-dm-4 text-center separadorInput">
    <label for="tacos2" class="letrablack">Producto tipo 2:</label>
    <input type="number" class="form-control" placeholder="Coloca la cantidad" #tacos2>
  </div>
  <div class="col-dm-4 text-center separadorInput" >
    <label for="tacos3" class="letrablack">Producto tipo 3:</label>
    <input type="number" class="form-control" placeholder="Coloca la cantidad" #tacos3>
  </div>
</div>
<div class="col-sm-12 row separadorbtn">
  <button class="btn btn-outline" (click)="addComanda(tacos1,tacos2,tacos3);">
    añadir
    <i class="fas fa-plus"></i>
  </button>
</div>
