<div class="col-sm-12">
  <div class="row col-sm-12">
    <div class="col-md-4">
      <button class="btn btn-outline-secondary">
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-outline-secondary">
          <i class="fas fa-plus-circle"></i>
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-outline-secondary">
          <i class="fas fa-plus-circle"></i>
      </button>
    </div>
  </div>
  <div class="col-sm-12">
    <h3>hola</h3>
  </div>
</div>