<!--inicia navegador-->
<nav class="navbar">
    <div class="row col-sm-12">
      <div class="col-md-4 text-left">
        <h2>Comandas</h2>
      </div>
      <div class="col-md-4 text-center">
        <h1>SGyC</h1>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </nav>
<!--fin del navegador-->

<!--inicia body-->
<div class="col-sm-12">
  <div class="row col-sm-12">
    <div class="col-md-2">
      <app-barlt></app-barlt>
    </div>
    <div class="col-md-10">
      <app-infocom></app-infocom>
      <app-infoped></app-infoped>
    </div>
  </div>
  <div class="col-sm-12 row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <app-addprod></app-addprod>
    </div>
  </div>  
</div>
  
  
<!--finaliza body-->